{% load i18n admin_static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />
<link rel="stylesheet" href="{% static 'admin/css/main.css' %}">
{% block extrastyle %}{% endblock %}
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% static "admin/css/ie.css" %}{% endblock %}" /><![endif]-->
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "{% filter escapejs %}{% now "Z" %}{% endfilter %}";</script>
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

<!-- Container -->
<div id="container">

    {% if not is_popup %}
    <!-- Header -->
    <div id="header">
        <div id="branding">
        {% block branding %}{% endblock %}
        </div>
        {% block usertools %}
        {% if has_permission %}
        <div id="user-tools">
            {% block welcome-msg %}
                {% trans 'Welcome,' %}
                <strong>{% firstof user.get_short_name user.get_username %}</strong>.
            {% endblock %}
            {% block userlinks %}
                <!-- {% if site_url %}
                    <a href="{{ site_url }}">{% trans 'View site' %}</a> /
                {% endif %} -->
                {% if user.is_active and user.is_staff %}
                    {% url 'django-admindocs-docroot' as docsroot %}
                    {% if docsroot %}
                        <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
                    {% endif %}
                {% endif %}
                {% if user.has_usable_password %}
                <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
                {% endif %}
                <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
            {% endblock %}
        </div>
        {% endif %}
        {% endblock %}
        {% block nav-global %}{% endblock %}
    </div>
    <!-- END Header -->
<!--     {% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
    {% endblock %} -->
    {% endif %}

    {% block messages %}
        {% if messages %}
        <ul class="messagelist">{% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
        {% endfor %}</ul>
        {% endif %}
    {% endblock messages %}

    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}
        {# block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock #}
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear" />
    </div>
    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}
</div>
<!-- END Container -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript">
    // Global Variables defined from python urls
    // app_label gives the app parameter
    var principal = '';
    var vessel_type = '';
    var last_vessel = '';
    var rank = '';
    var status = '';
    var url = '';
    var us_visa = '' 
    var position = ''
    var vessel_type = '' 
    var availability = '' 
    var app_source = '' 
    var principal = '' 
    var is_active = '' 
    var age = '' 
    var time_indicator = '' 
    var length_rank = '' 
    var params = '';
    var app_label = "{{ opts.app_label }}";
    var search_class = "search-"+app_label

    // Conditionals for dynamic search results integrated with filter
    if(app_label == 'crew'){
        {% if 'principal' in request.GET %}var principal = '&principal={{ request.GET.principal }}';{% endif %}
        {% if 'vessel_type' in request.GET %}var vessel_type = '&vessel_type={{ request.GET.vessel_type }}';{% endif %}
        {% if 'last_vessel' in request.GET %}var last_vessel = '&vessel={{ request.GET.last_vessel }}';{% endif %}
        {% if 'rank' in request.GET %}var rank = '&rank={{ request.GET.rank }}';{% endif %}
        {% if 'status' in request.GET %}var status = '&status={{ request.GET.status }}';{% endif %}
        title = "Please take note that this searchbox is for searching codes and names only and will integrate with the filter when a filter is made.<br />  <br />Type a letter then click among the dropdown composed of code, last name, middle name and first name."
        params = principal+vessel_type+last_vessel+rank+status;
        url = '{% url "crew_view:navigation_autocomplete" %}?';
    }else{
        {% if 'us_visa' in request.GET %}var us_visa = '&us_visa={{ request.GET.us_visa }}';{% endif %}
        {% if 'position' in request.GET %}var position = '&position={{ request.GET.position }}';{% endif %}
        {% if 'vessel_type' in request.GET %}var vessel_type = '&vessel_type={{ request.GET.vessel_type }}';{% endif %}
        {% if 'availability' in request.GET %}var availability = '&availability={{ request.GET.availability }}';{% endif %}
        {% if 'app_source' in request.GET %}var app_source = '&app_source={{ request.GET.app_source }}';{% endif %}
        {% if 'principal' in request.GET %}var principal = '&principal={{ request.GET.principal }}';{% endif %}
        {% if 'is_active' in request.GET %}var is_active = '&is_active={{ request.GET.is_active }}';{% endif %}
        {% if 'age' in request.GET %}var age = '&age={{ request.GET.age }}';{% endif %}
        {% if 'time_indicator' in request.GET %}var time_indicator = '&time_indicator={{ request.GET.time_indicator }}';{% endif %}
        {% if 'length_rank' in request.GET %}var length_rank = '&length_rank={{ request.GET.length_rank }}';{% endif %}
        title = "Please take note that this searchbox is for searching names, companies and remarks only and will integrate with the filter when a filter is made.<br />  <br />Type a letter then click among the dropdown composed of names, companies and remarks."
        params = us_visa+position+vessel_type+availability+app_source+principal+is_active+age+time_indicator+length_rank; 
        url = '{% url "website:navigation_autocomplete" %}?';
    }
        
    // search_view defines the url of the view method of the django autocomplete light
    var search_view = url+params; // Django Autocomplete Light
</script>
<script type="text/javascript" src="{% static 'admin/js/main.js' %}"></script>
</body>
</html>